/data/input/modul3.csv
/data/output/bar_plot/Stated_Ranking_Biking.png
/data/output/bar_plot/Stated_Ranking_Car.png
/data/output/bar_plot/Stated_Ranking_Environment.png
/data/output/bar_plot/Stated_Ranking_General.png
/data/output/bar_plot/Stated_Ranking_Innovation.png
/data/output/bar_plot/Stated_Ranking_PT.png
/data/output/bar_plot/Stated_Ranking_Walking.png
/data/output/divergent_bar_plot/Stated_Ranking_Biking.png
/data/output/divergent_bar_plot/Stated_Ranking_Car.png
/data/output/divergent_bar_plot/Stated_Ranking_Environment.png
/data/output/divergent_bar_plot/Stated_Ranking_General.png
/data/output/divergent_bar_plot/Stated_Ranking_Innovation.png
/data/output/divergent_bar_plot/Stated_Ranking_PT.png
/data/output/divergent_bar_plot/Stated_Ranking_Walking.png
